html, body{
    font-family : 'Source Sans Pro', sans-serif;
    background-color : #2c3e50;
    font-weight : 300;
    color : #ecf0f1;
    font-size : 19px;
    margin: 0;
    padding : 0;
    line-height : 21px;
}
header{
    background-color : #000;
    position : fixed;
    width : 100%;
    top : 0;
    height : 55px;
}
/*============= affichage markdown =============*/
h1, h2, h3, h4, h5, h6{
    font-weight : 400;
    margin-top : 12px;
    margin-bottom : 12px;
}
h1, h2{
    border-bottom : 1px solid #2c3e50;/*212f3c*/
    padding-bottom : 10px;
}
h1{
    font-size : 30px;
}
h2{
    font-size : 25px;
}
h3, h4, h5, h6{
    font-size : 20px;
}
code{
    font-family : 'Source Sans Pro', sans-serif;
    font-weight : 300;
    font-size : 19px;
    background-color : #2c3e50;
    display : block;
    padding : 5px;
    border-radius : 5px;
    overflow : auto;
}
img{
    width : 100%
}
p{
    margin-top : 8px;
    margin-bottom : 8px;
}
/*==============================================*/
.large{
    /*border : 1px solid black;*/
    width: 1200px;
    margin-left : auto;
    margin-right : auto;

}
.large2{
    margin-top : 75px;
    /*display : flex;*/
}
.main{
    width : 59.5%;
}
.second{
    width : 39.5%;
    margin-left : 1%;
    float : right;
}
.main_actu{
    width : 49.5%;
    margin-left : auto;
    margin-right : auto;
}
.main_centre{
    width : 400px;
    margin-left : auto;
    margin-right : auto;
    margin-top : 200px;
}
.logo{
    height : 45px;
    padding-top : 5px;
    padding-bottom : 5px;
    width : initial;
}
.fen{
    background-color : #34495e;
    padding : 10px;
    border-radius : 5px;
    margin-bottom : 15px;
    /*box-shadow : 0px 5px 5px -5px #B8B8B8;*/
    border : 1px solid #212f3d;
}
.fen_title{
    font-weight : 400;
    font-size : 25px;
    /*text-transform : uppercase;*/
}
.fen_content{
    padding-bottom : 10px;
    padding-top : 10px;
    word-break : break-all;
}
.fen_hide{
    max-height : 500px;
    overflow : hidden;
}
.fen_show{
    text-align : center;
    padding : 10px;
    /*background : linear-gradient(transparent, #2c3e50);*/
    border-top : 1px solid #2c3e50;
    /*border-bottom : 1px solid #2c3e50;*/
}
.fen_name{
    /*font-weight : 400;*/
    font-size : 15px;
}
.fen_rep{

}
.fen_rep_content{
    margin-bottom : 10px;
    padding-top : 10px;
    padding-left : 10px;
    word-break : break-all;
}
.fen_title_info{
    float : right;
    font-weight : 300;
    font-size : 19px;
}
.info_right{
    float : right;
}
.fen_info{
    font-size : 15px;
}
.button, .buttonInv, .input_text, .input_area, .user_opt_sel, .buttonOther{
    padding : 5px;
    border-radius : 2px;
    border : 1px solid #A7A7A7;
    background-color : #FFF;

    font-family : 'Source Sans Pro', sans-serif;
    line-height : 21px;
    font-weight : 300;
    font-size : 19px;
    color : #444;
}
.input_text, .input_area{
    display : block;
    width : 100%;
    margin-bottom : 10px;
    /*box-shadow: 0 0 5px -2px gray inset;*/
    background-color : #2c3e50;
    color : #ecf0f1;
    border : 1px solid #212f3d;
}
.input_text{
    
}
.input_text2{
    background-color : #34495e;
}
.input_area{
    height : 200px;
    resize: vertical;
}
.input_area_rep{
    height : 75px;
    margin-top : 5px;
}
.input_sub{
    /*display : inline;*/
}
.form_right{
    text-align : right;
}
#form_rep{
    margin-bottom : 0;
    margin-top : 20px;
}
.button{
    font-weight : 400;
    background-color : #21618c;
    border : 1px solid #21618c;
    color : #FFF;
    /*transition-duration : 0.5s;*/
}
.buttonOther{
    font-weight : 400;
    background-color : #34495e;
    border : 2px solid #21618c;
    color : #3498db;
    /*margin-top : 10px;*/
    /*transition-duration : 0.5s;*/
}
.buttonInv{
    font-weight : 400;
    background-color : #34495e;
    border : 1px solid #34495e;
    color : #FFF;
}
.log_btn{
    width : 100%;
}
.log_btn2{
    width : 49%;
}
.left{
    margin-left : 1%;
}
.info_head{
    margin-top : 10px;
    display : flex;
}
.head_btn{
    margin-left : 10px;
}
.p404{
    height : 400px;
    width : initial;
    margin : auto;
    display : block;
}
.msgErr{
    color : #e74c3c;
    border : 1px solid #e74c3c;
    font-weight : 400;
}
.msgOk{
    color : #2ecc71;
    border : 1px solid #2ecc71;
    font-weight : 400;
}
a, .link{
    text-decoration : none;
    color : #3498db;
}
a, .link:hover{
    color : #2980b9;
}
.user_menu{
    /*float : right;*/
    background-color : #566573;
    border-radius : 2px;
    color : #FFF;
    margin-left : 10px;
    min-width : 150px;
    font-weight : 400;
    border : 1px solid #000;/*A7A7A7*/
    display : inline;
    margin-top : -1px;
}
.user_option{
    /*margin-top : 10px;*/
}
.user_name{
    padding : 6px;
}
.user_opt_sel{
    display : block;
    width : 100%;
    border-radius : 0;
    border : 0;
    font-weight : 300;
    background-color : #566573;
    color : #FFF;
}
.user_opt_sel:hover{
    background-color : #1b4f72;
    color : #FFF;
}
.info_profil{
    padding-bottom : 5px;
}
.epingle{
    display : flex;
    padding-top : 7px;
    padding-bottom : 7px;
    border-top : 1px solid #2c3e50;/*212f3c*/
}
.epingle_user{
    text-align : right;
    width : 35%;
}
.epingle_title{
    font-weight : 400;
    text-align : left;
    width : 48%;
}
.epingle_temps{
    text-align : right;
    width : 20%;
}
.view2{
    display : none;
}
.view1{
    display : block;
}
.more_btn{
    height : 20px;
    width : initial;
    margin-left : 10px;
}
.popup{
    position : fixed;
    top : 0;
    left : 0;
    background-color : rgba(0, 0, 0, 0.6);
    width : 100%;
    height : 100%;
}
.popup_fen{
    background-color : #34495e;/*34495e*//*2c3e50*/
    padding : 10px;
    border-radius : 10px;
    width : 700px;
    margin-left : auto;
    margin-right : auto;
    margin-top : 100px;
}
.popup_fen_title{
    text-align : center;
    font-size : 25px;
    font-weight : 400;
    padding-bottom : 15px;
}

@media(max-width : 1250px){
    .large{
        width : 1000px;
    }
}
@media(max-width : 1050px){
    .large{
        width : 800px;
        /*display : block;*/
    }
    .second{
        width : 100%;
        margin-left : 0;
        float : none;
    }
    .main_actu{
        width : 100%;
        /*margin-left : auto;
        margin-right : auto;*/
    }
    .main{
        width : 100%;
    }
}
@media(max-width : 850px){
    .large{
        width : 95%;
    }
    .main{
        width : 100%;
    }
    .popup_fen{
        width : 500px;
    }
}
@media(max-width : 700px){
    .view2{
        display : block;
    }
    .view1{
        display : none;
    }
    .main_centre{
        width : 250px;
    }
    .popup_fen{
        width : 300px;
    }
}
@font-face {
    font-family : 'Source Sans Pro';
    font-style : normal;
    font-weight : 300;
    src : local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(/assets/font/source_sans_pro_300.ttf) format('truetype');
}
@font-face {
    font-family : 'Source Sans Pro';
    font-style : normal;
    font-weight : 400;
    src : local('Source Sans Pro'), local('SourceSansPro-Regular'), url(/assets/font/source_sans_pro_400.ttf) format('truetype');
}