html, body{
    font-family : 'Source Sans Pro', sans-serif;
    background-color : #EFEFEF;
    font-weight : 300;
    color : #444;
    font-size : 19px;
    margin: 0;
    padding : 0;
}
header{
    background-color : #000;
}
.large{
    border : 1px solid black;
    width: 1200px;
    margin : auto;
}
.logo{
    height : 50px;
    padding-top : 5px;
    padding-bottom : 5px;
}
@font-face {
    font-family : 'Source Sans Pro';
    font-style : normal;
    font-weight : 300;
    src : local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(/assets/source_sans_pro_300.ttf) format('truetype');
}
@font-face {
    font-family : 'Source Sans Pro';
    font-style : normal;
    font-weight : 400;
    src : local('Source Sans Pro'), local('SourceSansPro-Regular'), url(/assets/source_sans_pro_400.ttf) format('truetype');
}