header
    div.large
        a.link(href='/')
            img.logo(src='/assets/images/logo.png')
        div.info_right.info_head
            span.view1
                button.button.newthread_btn Nouveau Thread      
            - if (!locals.userId)
                a.view1(href='/register')
                    button.buttonInv.head_btn Inscription
                a.view1(href='/login')
                    button.buttonInv.head_btn Connexion
                div.user_menu.view2
                    div.user_name Menu
                    div.user_option
                        a(href='/register')
                            button.user_opt_sel Inscription
                        a(href='/login')
                            button.user_opt_sel Connexion
                        span.view2
                            button.user_opt_sel.newthread_btn Nouveau Thread
            - else
                div.user_menu
                    div.user_name #{locals.name}
                    div.user_option
                        a(href='/profil/' + locals.name)
                            button.user_opt_sel Profil
                        - if (locals.rank != 0)
                            a(href='/admin')
                                button.user_opt_sel Panel admin
                        span.view2
                            button.user_opt_sel.newthread_btn Nouveau Thread
                        a(href='/logout')
                            button.user_opt_sel Se deconnecter

        div.popup.newthread_pop
            div.popup_fen
                div.popup_fen_title Nouveau Thread
                    div.info_right.close
                        label X
                div.popup_fen_content
                    form.form.form_th(method='post' action='/newthread')
                        input.input_text(type='text' name='input_title' placeholder='titre du thread')
                        textarea.input_area(name='input_content' placeholder='contenu du thread')
                        div.form_right
                            input.button.log_btn(type='submit' name='sub' value='Poster')
                    div.err

        div.popup.delete_pop
            div.popup_fen
                div.popup_fen_title Supprimer le Thread
                    div.info_right.close
                        label X
                div.popup_fen_content test
                        
