head
    title #{locals.titre}
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='/assets/css/design.css')
    meta(name='viewport' content='width=divice-width, initial-scale=1.0')
    script(type='text/javascript' src='/assets/script/socket.io.js')
    script(type='text/javascript' src='/assets/script/jquery.min.js')
    script(type='text/javascript' src='/assets/script/code.js')
    // link(rel='icon' type='image/png' href='/assets/images/logo.png')