header
    div.large
        a.link(href='/')
            img.logo(src='/assets/images/logo.png')
        div.info_right.info_head
            a(href='/newthread')
                button.button Nouveau Thread
            a(href='/register')
                button.button.head_btn Inscription
            a(href='/login')
                button.button.head_btn Connexion