header
    div.large
        a.link(href='/')
            img.logo(src='/assets/images/logo.png')
        div.info_right.info_head
            a.view1(href='/newthread')
                button.button Nouveau Thread      
            - if (!locals.userId)
                a.view1(href='/register')
                    button.buttonInv.head_btn Inscription
                a.view1(href='/login')
                    button.buttonInv.head_btn Connexion
                div.user_menu.view2
                    div.user_name Menu
                    div.user_option
                        a(href='/register')
                            button.user_opt_sel Inscription
                        a(href='/login')
                            button.user_opt_sel Connexion
                        a.view2(href='/newthread')
                            button.user_opt_sel Nouveau Thread
            - else
                div.user_menu
                    div.user_name #{locals.name}
                    div.user_option
                        a(href='/profil/' + locals.name)
                            button.user_opt_sel Profil
                        - if (locals.rank != 0)
                            a(href='/admin')
                                button.user_opt_sel Panel admin
                        a.view2(href='/newthread')
                            button.user_opt_sel Nouveau Thread
                        a(href='/logout')
                            button.user_opt_sel Se deconnecter
                        
