html(lang='fr')
    include ../parts/head.pug
    body
        include ../parts/header.pug
        div.panel
            div.panel_title Panel Admin
            div.panel_selector Satistique
            div.panel_selector Utilisateur
            div.panel_selector Equipe
            div.panel_selector Report
        section
            div.main_admin
                div.fen
                    div.fen_title panel admin
                    div.fen_content coming soon
                    

        include ../parts/footer.pug
