html(lang='fr')
    include ../parts/head.pug
    body
        include ../parts/header.pug
        section
            div.large.large2
                div.main
                    each t in locals.thread
                        div.fen
                            div.fen_title 
                                a.link(href='/thread/' + t.str_id) #{t.title}
                            div.fen_content!=t.content
                            div.fen_info
                                a.link(href='/') name
                                div.info_right #{t.date}
                    

        include ../parts/footer.pug
