html(lang='fr')
    include ../parts/head.pug
    body
        include ../parts/header.pug
        section
            div.large.large2
                div.main
                    each t in locals.thread
                        div.fen.post
                            div.fen_title 
                                a.link(href='/thread/' + t.str_id) #{t.title}
                            div.fen_conctent.post_content #{t.content}
                    

        include ../parts/footer.pug
