html(lang='fr')
    include ../parts/head.pug
    body
        include ../parts/header.pug
        section
            div.large.large2
                div.main
                    div.fen
                        div.fen_title Erreur 404
                        div.fen_content Page introuvable
                    

        include ../parts/footer.pug
