html(lang='fr')
    include ../parts/head.pug
    body
        include ../parts/header.pug
        section
            div.large.large2
                div.main_centre
                    div
                        div.fen_title Erreur 404 : Page introuvable
                        div.fen_content 
                            img.p404(src="/assets/images/troll.gif")
                    

        include ../parts/footer.pug
