html(lang='fr')
    include ../parts/head.pug
    body
        include ../parts/header.pug
        section
            div.large #{locals.threadTitle}, #{locals.content}

        include ../parts/footer.pug
